header {
  background-color: white;
  box-shadow: 0px 0px 2px gray;
  width: 100%;
  min-height: 80px;
  padding: 25px 0;
  overflow: auto;

  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    height: 100%;
  }

  h1 {
    color: orange;
    font-size: 18px;
    font-family: sans-serif;
    float: left;
    margin: 0;
    height: 36px;
    width: 75px;
    background: url(../img/logo.png) no-repeat;
    text-indent: -1000em;
  }

  nav {
    display: block;
    float: left;
  }
  .search {
    padding: 0 18px;
    width: 35%;
    form {
      margin: 0;

      input {
        border: 1px solid #CFCBC8;
        background: #f9f9f8;
        padding: 6px 10px;
        margin-left: 0;
        height: 34px;
        font-size: 14px;
        float: left;
      }

      input[type="text"] {
        width: 75%;
      }
      input[type="button"] {
        width: 25%;
        border: none;
        padding: 7px 15px 8px;
        background: #34A8C4;
        color: #fff;
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        border-right: 1px solid rgba(0, 0, 0, .1);
        font-weight: bold;
        box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.35);
      }
    }
  }

  .categories {

      ul {
        display: none;
      }

      .btn {
        color: #666666;
        line-height: 18px;
          &:hover {
            background-color: #C8ECF1;

        i {
          margin-left: 15px;
          color: #bbb;
        }
      }
    }
  }

  .account {
    float: right;
    overflow: auto;

    a {
      float: left;
      display: block;
      margin-right: 15px;
      text-decoration: none;
      color: #0192B5;
      font-family: Arial, sans-serif;
      font-size: 14px;
      padding: 8px;
      height: 35px;
    }
    .cart {
      padding: 0;
      margin: 0;
      color: #666666;
      font-size: 12px;

      i {
        display: block;
        font-size: 20px;
        min-height: 24px;
      }
    }
  }
}
